header{
  display: flex;
  font-family: Veranda;
  font-size: 14px;
  font-wieght: bold;
}

  .logo {
    color: MediumAquamarine;
}

span {
  display: inline-block;
}

a{
    color: black;
    justify-content: center;
}
