header{
  display: flex;
  font-family: Veranda;
  font-size: 14px;
  font-wieght: bold;
  border-bottom: black solid 1px;

}

.logo {
    color: MediumAquamarine;
}

 nav {
  display: inline-block;
}

span a{
  color: black;
}
